<%= @vid.title %>
<%= @vid.notes %>
<%= @vid.entry_date %>
<a href="/videos/<%= @vid.id %>/edit"><button>Edit</button></a>

<form action="/videos/<%= @vid.id %>" method='POST'>
<input id='hidden' type='hidden' name='_method' value='DELETE'>
<input type='submit' value='Delete'>
</form>

<a href='/videos'><button>Back to Videos</button></a>
